<div class="container" *ngIf="project">
    <p-card header="{{project.title}}" subheader="{{project.mainTag}}" [style]="{width: '360px'}"
        styleClass="p-card-shadow">
        <p-header>
            <img alt="Card" src="{{project.image}}">
        </p-header>
        <p>{{ project.description }}</p>
        <ng-template pTemplate="footer">
            <a target="_blank" href="{{project.gitLink}}">Ir al repositorio</a>
        </ng-template>
    </p-card>
</div>