.card_container{
    margin: 30px 15px;
    width: 350px;
    height: 300px;
    display: flex;
    flex-direction: column;
    border: 1px solid gainsboro;
    position: relative;
}

.card_container:last-child{
    margin-top: auto;
}

.header_container{
    display: flex;
    margin-top: 10px;
    height: 50px;
    padding: 10px 20px;
    border-bottom: 1px solid gainsboro;
    justify-content: space-between;
    align-items: center;
}

.img_project{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-top: 50px;
    margin-left: 30px;
    border: 1px solid gainsboro;
}

.header_text{
    font-size: 18px;
    font-weight: 300;
}

.text-content {
    margin-top: 20px;
    padding: 0 15px;
}

.text_tags{
    font-size: 18px;
    margin-top: 30px;
}

.text_title{
    font-size: 32px;
    font-weight: bold;
}

.text_description{
    font-size: 16px;
    text-align: justify;
    margin-bottom: 20px;
    margin-top: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
}

button{
    background-color: black;
    width: 100%;
    height: 40px;
    font-size: 18px;
    border: none;
    color: #ffffff;
    overflow: hidden;
    transition: 600ms;
    position: absolute;
    bottom: 0;
}

button:focus {
    outline: none;
}

button:hover {
    background-color: white;
    cursor: pointer;
    color: black;
    border-top: 1px solid gainsboro;
    font-weight: 700;
}