<div class="card_container">
    <div class="header_container">
        <img class="img_project"
            src="{{repo.avatar}}" />
        <p class="header_text">{{repo.owner}}</p>
    </div>
    <div class="text-content">
        <p class="text_tags">{{repo.language}}</p>
        <p class="text_title">{{repo.name}}</p>
        <p class="text_description">{{repo.description}}</p>
    </div>
    <button type="button">
        <i class="pi pi-plus"></i>
        Añadir a mi Portafolio
    </button>
</div>