<!--
<div class="component-container">
    <p>profile works!</p>
    <p>FUNCIONA PINCHE BOTON</p>
    <button  (click)="geUsers()"
        style="background-color: black; color: white; cursor: pointer; padding: 10px 20px;">Users</button>
</div>

<app-register-form></app-register-form>-->