<p-toast></p-toast>

<section class="login">
  <div class="container">
    <div class="img_container">
      <img class="user_image" src="./assets/img/user_image.png">
    </div>

    <p-tabView class="viewtab">
      <p-tabPanel header="Iniciar Sesion">
        <form (ngSubmit)="loginUser()">
          <div class="p-grid">
            <div class="p-col-12">
              <div class="p-inputgroup">
                <span class="p-inputgroup-addon"><i class="pi pi-envelope"></i></span>
                <input type="email" pInputText placeholder="Email" [(ngModel)]="email" name="email">
              </div>
            </div>
          </div>

          <div class="p-grid">
            <div class="p-col-12">
              <div class="p-inputgroup">
                <span class="p-inputgroup-addon"><i class="pi pi-key"></i></span>
                <input type="password" pInputText placeholder="Contraseña" [(ngModel)]="password" name="password">
              </div>
            </div>
          </div>

          <div class="p-grid">
            <div class="p-col-12 button_container">
              <button pButton type="submit" label="Iniciar Sesion"></button>
            </div>
          </div>
        </form>
      </p-tabPanel>

      <p-tabPanel header="Registrarse">
        <form (ngSubmit)="registerUser()">
          <div class="p-grid">
            <div class="p-col-12">
              <div class="p-inputgroup">
                <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                <input type="text" pInputText placeholder="Username" [(ngModel)]="username" name="username">
              </div>
            </div>
          </div>

          <div class="p-grid">
            <div class="p-col-12">
              <div class="p-inputgroup">
                <span class="p-inputgroup-addon"><i class="pi pi-envelope"></i></span>
                <input type="email" pInputText placeholder="Correo" [(ngModel)]="email" name="email">
              </div>
            </div>
          </div>

          <div class="p-grid">
            <div class="p-col-12">
              <div class="p-inputgroup">
                <span class="p-inputgroup-addon"><i class="pi pi-key"></i></span>
                <input type="password" pPassword placeholder="Contraseña" [(ngModel)]="password" name="password">
              </div>
            </div>
          </div>

          <div class="p-grid">
            <div class="p-col-12">
              <div class="p-inputgroup">
                <span class="p-inputgroup-addon"><i class="pi pi-key"></i></span>
                <input type="password" pPassword placeholder="Confirma Contraseña" [(ngModel)]="passwordConfirm"
                  name="passwordConfirm">
              </div>
            </div>
          </div>

          <div class="p-grid">
            <div class="p-col-12 button_container">
              <button pButton type="submit" label="Registrarse"></button>
            </div>
          </div>
        </form>

      </p-tabPanel>

      <p-tabPanel header="Buscar">
        <div class="p-col-12 button_container">
          <a [routerLink]="['/index']">Regresar</a>
          <h3>¿Buscas el portafolio de un usuario?</h3>
          <div class="p-inputgroup">
            <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
            <input type="text" pInputText placeholder="Buscar..." [(ngModel)]="buscar" name="buscar">
            <button pButton label="Buscar" (click)="searchUser()"></button>
          </div>
        </div>
      </p-tabPanel>
    </p-tabView>
  </div>
</section>