.login {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, .70), rgba(0, 0, 0, .50)), url(../../../assets/img/fondo.jpg);
    background-position: center center, center center;
    background-size: cover, cover;
    background-repeat: repeat, repeat;
}

.container {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.viewtab {
    height: 400px;
    width: 400px;
    background-color: rgb(246 246 248);
    overflow: hidden;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.user_image {
    height: 400px;
    width: 400px;
    overflow: hidden;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
}

.img_container {
    align-items: center;
    display: flex;
    justify-content: center;
}

.button_container {
    display: grid;
    align-items: center;
}