<div class="form_container">
    <h1 class="text_title">Registro</h1>

    <form [formGroup]="form" (ngSubmit)="submit()">  
        <div class="input_container">
            <div class="p-grid">
                <div class="p-col-12">
                    <div class="p-inputgroup">
                        <input formControlName="name" type="text" placeholder="Nombre" pInputText>       
                    </div>
                </div>
            </div>            
            <div *ngIf="f.name.touched && f.name.invalid" class="alert alert-danger">
                <div class="text_form" *ngIf="f.name.errors.required">Se requiere un Nombre.</div>
                <div class="text_form" *ngIf="f.name.errors.minlength">El Nombre de tener mas de 8 caracteres.</div>
            </div>
        </div>
    
        <div class="input_container">            
            <div class="p-grid">
                <div class="p-col-12">
                    <div class="p-inputgroup">
                        <input formControlName="email" type="text" placeholder="Email" pInputText>
                    </div>
                </div>
            </div>  
            <div *ngIf="f.email.touched && f.email.invalid" class="alert alert-danger">
                <div class="text_form" *ngIf="f.email.errors.required">Se requiere un Email.</div>
                <div class="text_form" *ngIf="f.email.errors.email">Por favor, ingrese un Email valido.</div>
            </div>
        </div>
    
        <div class="input_container">
            <div class="p-grid">
                <div class="p-col-12">
                    <div class="p-inputgroup">
                        <textarea  
                            formControlName="body"
                            id="body" 
                            type="text" 
                            class="form-control"
                            placeholder="Descripcion"
                            pInputTextarea>
                        </textarea>
                    </div>
                </div>
            </div>
                <div class="text_form" *ngIf="f.body.touched && f.body.invalid" class="alert alert-danger">
                <div class="text_form" *ngIf="f.body.errors.required">Se requiere Descripcion</div>
            </div>
        </div>
        
        <button class="button" type="submit">
            Registrar
        </button>
    </form>
</div>