.form_container{
    border: 2px solid gainsboro;
    padding: 40px;
    border-radius: 30px;
    box-shadow: 5px 5px 10px rgb(0,0,0,0.6);
    margin: 50px;
    width: 800px;
    display: flex;
    flex-direction: column;
}

.text_title{
    margin-bottom: 10px;
}

.text_form{
    color: red;
    margin-bottom: 10px;
}

button{
    background-color: white;
    width: 150px;
    height: 50px;
    font-size: 18px;
    border: none;
    color: black;
    overflow: hidden;
    transition: 600ms;
    border-radius: 50px;
    border: 2px solid gainsboro;
}

button:focus {
    outline: none;
}

button:hover {
    background-color: black;
    cursor: pointer;
    color: white;
}