 <!--   <p>projects works!</p>
    <p-fileUpload name="myfile[]" customUpload="true" (uploadHandler)="onUpload($event)" accept="image/*"
        maxFileSize="1000000">
        <ng-template pTemplate="content">
            <ul *ngIf="image">
                <li>{{image.name}} - {{image.size}} bytes</li>
            </ul>
        </ng-template>
    </p-fileUpload> -->

    <a 
        style="color: black;"
        *ngIf="!githubData"
        href="https://github.com/login/oauth/authorize?client_id=7928b7005ba1181c6002&scope=user%20public_repo"
    >Solicitar mis proyectos </a>
    
    <div class="container">
        <div *ngFor="let repo of githubRepos">
            <app-repo-view [repo]="repo"></app-repo-view>
        </div>
    </div>